<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>Artwork</title>
    </head>
    <body>
        <% include nav.ejs %>
        <div class="center">
            <a target="_blank" href="/static/img/hires/IskstarterBLUE500.png">
                <img src="/static/img/hires/IskstarterBLUE500.png">
            </a>
        </div>
        <div class="center">
            <a target="_blank" href="/static/img/hires/IskStarterBLUEhorz.png">
                <img src="/static/img/hires/IskStarterBLUEhorz.png">
            </a>
        </div>
        <div class="center">
            <a target="_blank" href="/static/img/hires/IskStarterICON500.png">
                <img src="/static/img/hires/IskStarterICON500.png">
            </a>
        </div>
        <div class="center">
            <a target="_blank" href="/static/img/hires/SupportUs.png">
                <img src="/static/img/hires/SupportUs.png">
            </a>
        </div>
        <div class="center">
            <a target="_blank" href="/static/img/hires/SupportUs.jpg">
                <img src="/static/img/hires/SupportUs.jpg">
            </a>
        </div>
        <% include footer.ejs %>
    </body>
</html>