<% campaigns.forEach(function (campaign) { %>
    <div class="campaign header box">
        <div class="header-image" style="background-image: url(<%= campaign.data.header %>)"></div>
        <div class="list-content">
            <a href="/campaigns/<%= campaign._id %>/"><h4><%= campaign.name %></h4></a>
            <div class="progress">
                <div class="percentage" style="width: <%= Math.min(100, (campaign.wallet / campaign.data.goal) * 100) %>%;"></div>
            </div>
        </div>
    </div>
<% }) %>