<% campaigns.forEach(function (campaign) { %>
    <div>
        <a href="/campaigns/<%= campaign._id %>/"><h4><%= campaign.name %></h4></a>
        <progress max="<%= campaign.data.goal %>" value="<%= campaign.wallet %>"></progress>
    </div>
<% }) %>