<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>ISKstarter</title>
    </head>
    <body>
        <% include nav.ejs %>
        <progress max="<%= campaign.data.goal %>" value="<%= campaign.wallet %>"></progress>
        <pre><%= JSON.stringify(campaign, null, 2) %></pre>
        <% include footer.ejs %>
    </body>
</html>