<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>Campaigns - Page <%= page %></title>
    </head>
    <body>
        <% include nav.ejs %>
        <div class="create-form header">
            <label class="collapsible">
                <input type="checkbox">
                <span class="center full-width-block">create new campaign</span>
                <form method="POST">
                    <label>name</label>
                    <br>
                    <input required type="text" name="name" />
                    <br>
                    <label>description</label>
                    <br>
                    <textarea required name="description"></textarea>
                    <br>
                    <label>header image url</label>
                    <br>
                    <input required type="text" name="header" />
                    <br>
                    <label>goal</label>
                    <br>
                    <input required type="number" name="goal" />
                    <br>
                    <label>start date</label>
                    <br>
                    <input required type="text" name="start" placeholder="yyyy-mm-dd" />
                    <br>
                    <label>end date</label>
                    <br>
                    <input required type="text" name="end" placeholder="yyyy-mm-dd" />
                    <br>
                    <button>submit</button>
                </form>
            </label>
        </div>
        <div class="campaign-list">
            <% include campaignlist.ejs %>
        </div>
        <% if(page > 1) { %>
            <a href="/campaigns/page/<%= page - 1 %>/">Previous</a>
        <% } %>
        <% if(campaigns.length == 100) { %>
            <a href="/campaigns/page/<%= page + 1 %>/">Next</a>
        <% } %>
        <% include footer.ejs %>
    </body>
</html>