<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>ISKstarter</title>
    </head>
    <body>
        <% include nav.ejs %>
        <a href="/campaigns/">Campaigns</a>
        <form method="POST">
            <label>Name:</label>
            <br>
            <input required type="text" name="name" />
            <br>
            <label>Description:</label>
            <br>
            <textarea required name="description"></textarea>
            <br>
            <label>Header Image URL:</label>
            <br>
            <input required type="text" name="header" />
            <br>
            <label>Goal:</label>
            <br>
            <input required type="number" name="goal" />
            <br>
            <label>Start Date:</label>
            <br>
            <input required type="text" name="start" placeholder="yyyy-mm-dd" />
            <br>
            <label>End Date:</label>
            <br>
            <input required type="text" name="end" placeholder="yyyy-mm-dd" />
            <br>
            <button>Submit</button>
        </form>
        <div>
            <% for(let campaigns in campaigns) { %>
                <h4><%= campaign.name %></h4>
                <progress max="<%= campaign.data.goal %>" value="<%= campaign.wallet %>"></progress>
            <% } %>
        </div>
        <% include footer.ejs %>
    </body>
</html>