<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ISKstarter</title>
        <link rel="stylesheet" href="/static/css/custom.css" />
        <script src="/static/js/bg.js"></script>
    </head>
    <body>
        <% include nav.ejs %>
        <form method="POST">
            <label>Name:</label>
            <br>
            <input required type="text" name="name" />
            <br>
            <label>Description:</label>
            <br>
            <textarea required name="description"></textarea>
            <br>
            <label>Header Image URL:</label>
            <br>
            <input required type="text" name="header" />
            <br>
            <label>Goal:</label>
            <br>
            <input required type="number" name="goal" />
            <br>
            <label>Start Date:</label>
            <br>
            <input required type="text" name="start" placeholder="yyyy-mm-dd" />
            <br>
            <label>End Date:</label>
            <br>
            <input required type="text" name="end" placeholder="yyyy-mm-dd" />
            <br>
            <button>Submit</button>
        </form>
    </body>
</html>