<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>Campaigns - Page <%= page %></title>
    </head>
    <body>
        <% include nav.ejs %>
        <% if (data.user.id) { %>
            <div class="create-form header box">
                <label class="collapsible">
                    <input type="checkbox">
                    <span class="hidden-hl center full-width-block">create new campaign</span>
                    <% include campaignform.ejs %>
                </label>
            </div>
        <% } %>
        <div class="sub-nav list">
            <div class="nav-hl"><a href="/campaigns/">running campaigns</a></div>
            <div><a href="/rejected/">rejected campaigns</a></div>
            <% if (data.user.id && data.user.is_admin) { %>
                <div><a href="/unapproved/">unapproved campaigns</a></div>
            <% } %>
        </div>
        <div class="list">
            <% include campaignlist.ejs %>
        </div>
        <div class="sub-nav list">
            <% if(page > 1) { %>
                <a href="/campaigns/?page=<%= page - 1 %>">previous</a>
            <% } %>
            <% if(campaigns.length == 18) { %>
                <a href="/campaigns/?page=<%= page + 1 %>">next</a>
            <% } %>
        </div>
        <% include footer.ejs %>
    </body>
</html>