<% campaigns.forEach(function (campaign) { %>
    <div>
        <a href="/campaigns/<%= campaign._id %>/"><h4><%= campaign.name %></h4></a>
        <div class="progress">
            <div class="percentage" style="width: <%= Math.min(100, (campaign.wallet / campaign.data.goal) * 100) %>%;"></div>
        </div>
    </div>
<% }) %>