<footer>
    <span>Next API Update @ <%= data.next.toGMTString() %></span>
    <br>
    <span>Copyright [Eneticum Studios / EVE_NT]</span>
    <br>
    <a href="/disclaimer/">disclaimer</a> / <a target="_blank" href="mailto:iskstarter@eneticum.de">contact</a> / <a href="/artwork/">artwork</a>
</footer>