<footer>
    <span>Next API Update @ <%= data.next.toGMTString() %></span>
    <br>
    <span>Copyright [Eneticum Studios / EVE_NT]</span>
    <br>
    <a href="/disclaimer/">Disclaimer</a> / <a href="mailto:iskstarter@eneticum.de">Contact</a> / <a href="/artwork/">Artwork</a>
</footer>