<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>ISKstarter</title>
    </head>
    <body>
        <% include nav.ejs %>
        <div class="container box">
            <h4>welcome to ISKstarter</h4>
            <p>
                Welcome to ISKstarter, the place to go when you want to support your favorite EVE Online related entities. The page is really simple to use, just browse the campaigns, pick the ones you like, copy the donation key from the page and transfer ISK to the in-game corporation <a target="_blank" href="https://gate.eveonline.com/Corporation/ISKstarter">ISKstarter</a> with the donation key as the reason. Alternatively, you can just transfer ISK to said corporation and it will be added to your balance here and you can donate to campaigns directly when logged in.
            </p>
            <label class="collapsible">
                <input type="checkbox">
                <h4 class="ptn">terms & additional information</h4>
                <ul class="hidden-ctn">
                    <li>Every campaign will be reviewed before it goes live. Campaigns that do not comply with our terms or appear suspicious to us, the community or CCP will be rejected. Rejected campaigns including the reason can be found <a href="/rejected/">here</a>.</li>
                    <li>Campaigns should target a broad majority of the community and should give back to it. If you fail to provide a detailed description on what the donations will be used for, when an event will happen and what to expect or details about your organization the campaign will be rejected.</li>
                    <li>Impersonating entities or creating scam campaigns is strictly prohibited. Applications that make use of the EVE SSO may not scam players (<a href="https://developers.eveonline.com/resource/license-agreement">see here</a>).</li>
                    <li>We charge a fee of 5% on the ISK that is payed out, we use these to keep the site running and to invest into new features.</li>
                    <li>Due to the limits of the EVE API, ISK transfers update only every 30 minutes. You can see when the next update will happen at the bottom of the page.</li>
                    <li>There are no refunds, neither for donations you already made nor for balance on your virtual wallet. We only pay out campaigns for the moment. Campaigns that do not reach the initially set goal will receive the funds donated to the campaign since we do not provide refunds at the moment.</li>
                    <li>ISK is held by Nashh Kadavr of EVE-NT as a third party. Chribba will be provided with access to fully audit the page on a monthly basis.</li>
                    <% if (keyID && vCode) { %>
                        <li>You want to take a look at the transaction api? here is the API Key we use:
                            <br>
                            <span class="break-all">[ keyID: <%= keyID %>, vCode: <%= vCode %> ]</span>
                        </li>
                    <% } %>
                    <li>For questions please contact <a target="_blank" href="https://gate.eveonline.com/Profile/Nashh%20Kadavr">Nashh Kadavr</a> or <a target="_blank" href="https://gate.eveonline.com/Profile/Bam%20Stroker">Bam Stroker</a>. For technical questions please contact <a target="_blank" href="https://gate.eveonline.com/Profile/Vincent%20Eneticum">Vincent Eneticum</a>.</li>
                    <li>Campaign payouts may be delayed if there appear suspicious transactions or if requested by ccp.</li>
                </ul>
            </label>
        </div>
        <h4 class="center">ending soon</h4>
        <div class="list">
            <% include campaignlist.ejs %>
        </div>
        <!--<div class="center"><a class="more-btn" href="/campaigns/">show me more campaigns…</a></div>-->
        <% include footer.ejs %>
    </body>
</html>