<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>ISKstarter</title>
    </head>
    <body>
        <% include nav.ejs %>
        <div class="container box">
            <h4>welcome to ISKstarter</h4>
            <p>
                welcome to ISKstarter, the place to go when you want to support your favorite EVE Online related entities. the page is really simple to use, just browse the campaigns, pick the ones you like, copy the donation key from the page and transfer ISK to the in-game corporation <a target="_blank" href="https://gate.eveonline.com/Corporation/ISKstarter">ISKstarter</a> with the donation key as the reason. alternatively, you can just transfer ISK to said corporation and it will be added to your balance here and you can donate to campaigns directly when logged in.
            </p>
            <label class="collapsible">
                <input type="checkbox">
                <h4 class="ptn">> additional information</h4>
                <ul class="hidden-ctn">
                    <li>creating scam campaigns is prohibited, this application makes use of the EVE SSO which disallows scamming (<a href="https://developers.eveonline.com/resource/license-agreement">see here</a>).</li>
                    <li>to keep the site running, we charge a fee of 5% on the ISK sent to the <a target="_blank" href="https://gate.eveonline.com/Corporation/ISKstarter">ISKstarter</a> corporation.</li>
                    <li>due to the limits of the EVE API, ISK transfers update only every 30 minutes. you can see when the next update will happen at the bottom of the page.</li>
                    <li>there are no refunds, neither for donations you already made nor for balance on your virtual wallet. we only pay out campaigns for the moment.</li>
                    <li>ISK is held by Nashh Kadavr of EVE-NT as a third party. Chribba will be provided with access to fully audit the page on a monthly basis.</li>
                    <li>campaigns that do not reach the initially set goal will receive the funds donated to the campaign since we do not provide refunds at the moment.</li>
                    <li>you want to take a look at the transaction api? here is the API Key we use:
                        <br>
                        <span class="break-all">[ keyID: 5632583, vCode: Fr9TbKIZnFveRB1hu7qSzcQo4pFHqtuHYs8rvvecld6D0bHJFBqGNZV0amNNyE0z ]</span>
                    </li>
                    <li>for questions please contact <a target="_blank" href="https://gate.eveonline.com/Profile/Nashh%20Kadavr">Nashh Kadavr</a> or <a target="_blank" href="https://gate.eveonline.com/Profile/Bam%20Stroker">Bam Stroker</a>. for technical questions please contact <a target="_blank" href="https://gate.eveonline.com/Profile/Vincent%20Eneticum">Vincent Eneticum</a>.</li>
                    <li>campaign payouts may be delayed if there appear suspicious transactions or if requested by ccp.</li>
                </ul>
            </label>
        </div>
        <h4 class="center">ending soon</h4>
        <div class="campaign-list">
            <% include campaignlist.ejs %>
        </div>
        <!--<div class="center"><a class="more-btn" href="/campaigns/">show me more campaigns…</a></div>-->
        <% include footer.ejs %>
    </body>
</html>