<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>ISKstarter</title>
    </head>
    <body>
        <% include nav.ejs %>
        <div class="container box">
            <h4>welcome to ISKstarter</h4>
            <p>
                welcome to ISKstarter, the place to go when you want to support your favorite EVE Online related entities. the page should be really simple to use, just browse the campaigns, pick the ones you like, copy the donation key from the page and transfer ISK to the in-game corporation 'ISKstarter' with the donation key as the reason. alternatively, you can just transfer ISK to said corporation and it will be added to your balance here and you can donate to campaigns directly when logged in.
            </p>
            <h4>additional information</h4>
            <ul>
                <li>to keep the site running, we charge a fee of 5% on the ISK sent to the 'ISKstarter' corporation.</li>
                <li>due to the limits of the EVE API, ISK transfers update only every 30 minutes. you can see when the next update will happen at the bottom of the page.</li>
            </ul>
        </div>
        <h4 class="center">ending soon</h4>
        <div class="campaign-list">
            <% include campaignlist.ejs %>
        </div>
        <!--<div class="center"><a class="more-btn" href="/campaigns/">show me more campaigns…</a></div>-->
        <% include footer.ejs %>
    </body>
</html>