<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>ISKstarter</title>
    </head>
    <body>
        <% include nav.ejs %>
        <div class="content">

        </div>
        <div class="campaign-list">
            <% include campaignlist.ejs %>
        </div>
        <a href="/campaigns/">More…</a>
        <% include footer.ejs %>
    </body>
</html>