<!DOCTYPE html>
<html>
    <head>
        <% include head.ejs %>
        <title>ISKstarter</title>
    </head>
    <body>
        <% include nav.ejs %>
        <a href="/campaigns/">Campaigns</a>
        <div>
            <div>
                <% campaigns.forEach(function (campaign) { %>
                <div>
                    <h4><%= campaign.name %></h4>
                    <progress max="<%= campaign.data.goal %>" value="<%= campaign.wallet %>"></progress>
                </div>
                <% }) %>
            </div>
        </div>
        <a href="/campaigns/">More…</a>
        <% include footer.ejs %>
    </body>
</html>