<nav>
    <div class="left-nav">
        <span class="logo">
            <a href="/">
                <b>isk</b>
                <span>starter</span>
            </a>
        </span>
        <span class="links">
            <a href="/">Home</a>
            <a href="/campaigns/">Campaigns</a>
        </span>
    </div>
    <div class="right-nav">
        <% if (data.user.id) { %>
            <img src="https://imageserver.eveonline.com/Character/<%= data.user.id %>_64.jpg">
            <div>
                <span><%= data.user.name %></span>
                <span>Balance: <%= data.user.balance.toLocaleString() %> ISK</span>
            </div>
            <a href="/logout/">log out</a>
        <% } else { %>
            <a href="/login/">log in</a>
        <% } %>
    </div>
</nav>