@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	text-shadow: 0 0 2px rgba(0,0,0,.25);
}

nav {
	display: block;
	width: 100%;
	height: 67px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	overflow: hidden;
	position: relative;
}

nav::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 1%;
	clear: both;
}

.logo, .links {
	display: inline-block;
	width: 100%;
}

.left-nav {
	vertical-align: middle;
	display: inline-block;
	padding: 5px;
	width: 49%;
}

.right-nav {
	padding: 5px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 49%;
}

.right-nav::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 100%;
}

.right-nav > span {
	vertical-align: middle;
	display: inline-block;
}

.character > img {
	position: absolute;
	top: 0;
	left: 100%;
	bottom: 0;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
	margin-left: 10px;
	height: 100%;
}

.character {
	position: relative;
	margin-right: 50px;
	float: right;
	text-align: right;
}

.character > span {
	display: inline-block;
	width: 100%;
}

a {
	color: black;
	text-decoration: none;
}

footer {
	text-align: center;
}

.debug {
	border: 2px solid red;
	display: none;
}

.campaign-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	width: 100%;
	margin: 20px auto;
}

.campaign-list > div {
	width: 30%;

}

.campaign-list > div:nth-child(3n+2) {
	margin-left: 5%;
	margin-right: 5%;
}

.center {
	text-align: center;
}

.full-width-block {
	display: block;
	width: 100%;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	margin-top: 20px;
}

.header {
	position: relative;
	min-height: 400px;
}

.box {
	border: 1px solid white;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	background: #2c2d44;
	background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
	background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
//background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
	background-image: linear-gradient(45deg, #773658 2%, #063d46 100%);
}

.header-image {
	background: rgba(255, 255, 255, 0.25) no-repeat 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.content {
	position: relative;
	margin: -100px 10% 20px 10%;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}

.title {
	position: relative;
	display: block;
	overflow: hidden;
	background-color: rgba(255,255,255,.5);
	padding-left: 20px;
}

.description {
	background-color: white;
	padding: 10px;
}

.details {
	width: 100%;
	max-width: 350px;
	float: right;
	margin: 10px;
	padding: 10px;
	background-color: rgba(255,255,255,.75);
	position: relative;
	border: 1px solid rgba(255,255,255,1);
}

.progress {
	width: 100%;
	border: 1px solid white;
	background-color: #b1b1b1;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4) inset;
	height: 15px;
	overflow: hidden;
}

.percentage {
	height: 100%;
	position: relative;
	background-color: #2199d2;
	border: 1px solid #2c7ea5;
	box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.61) inset;
}

input[type="text"], input[type="number"], button, textarea, .btn {
	background-color: rgba(255,255,255,.5);
	border: 1px solid white;
	padding: 4px;
	width: 100%;
	display: block;
}

.collapsible {
	display: block;
	position: relative;
}

.collapsible > input[type="checkbox"] {
	display: none;
}

.collapsible > input[type="checkbox"]:checked + span {
	display: none;
}

.collapsible > input[type="checkbox"]:not(:checked) + span + form {
	display: none;
}

button {

}

.create-form {
	width: 100%;
	max-width: 500px;
	margin: 20px auto;
	min-height: initial;
	padding: 10px;
	border: 1px solid white;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}

.create-form::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.25);
}

.campaign {
	min-height: initial;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid white;
	padding: 10px;
	margin-bottom: 20px;
}

/*.campaign*/ .header-image {
				  background-size: cover;
			  }

.list-content {
	position: relative;
	height: 100%;
	margin-bottom: 20px;
}

.list-content > * {
	background-color: rgba(255,255,255,.5);
}

.list-content h4 {
	padding: 4px;
	display: inline-block;
	margin: 15px 0;
}

.list-content .progress {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

label > span {
	cursor: pointer;
}

::-webkit-input-placeholder {
	color: rgba(0,0,0,0.5);
}

:-moz-placeholder { /* Firefox 18- */
	color: rgba(0,0,0,0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(0,0,0,0.5);
}

:-ms-input-placeholder {
	color: rgba(0,0,0,0.5);
}

.container > h4 {
	margin: 20px;
	background-color: rgba(255,255,255,.4);
	padding: 10px;
}

.container > p {
	margin: 20px;
	background-color: rgba(255,255,255,.4);
	padding: 10px;
}

.container > ul {
	background-color: rgba(255,255,255,.4);
	padding: 10px;
	padding-left: 35px;
	margin: 20px;
}

.container > ul > li {
	background-color: rgba(255,255,255,.4);
	padding: 5px;
	margin-top: 5px;
}

.container > ul > li:first-child {
	margin-top: 0;
}