@import url(https://fonts.googleapis.com/css?family=Roboto);

*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

nav {
	display: block;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    overflow: hidden;
}

.flr {
    float: right;
}

.debug {
	border: 2px solid red;
}